<%- include("partials/header"); -%>

    <body class="full-height" onload="clock()">
        <div class="App">
            <h1 class="location">
                <%= location %>
            </h1>
            <div class="wificonnected">
                <% if (wifiCon===true) { %>
                    <img class="wifiImage" src="images/Connected.png" alt="wifi con" />
                    <% } else { %>
                        <img class="wifiImage" src="images/Disconnected.png" alt="Low Tide" />
                        <% } %>
                            <p class="stationID">Station ID: <br>
                                <%= station %>
                            </p>
            </div>
            <div class="currentWeather">
                <% if (weatherIcon < 232) { %>
                    <img class="weatherIco" src="images/11d.png" alt="Tstorms" />
                    <% } else if (weatherIcon> 233 && weatherIcon < 400) { %>
                            <img class="weatherIco" src="images/09d.png" alt="Drizzle" />
                            <% } else if (weatherIcon> 400 && weatherIcon < 532) { %>
                                    <img class="weatherIco" src="images/10d.png" alt="Rain" />
                                    <% } else if (weatherIcon> 533 && weatherIcon < 700) { %>
                                            <img class="weatherIco" src="images/13d.png"
                                                alt="Rain" />
                                            <% } else if (weatherIcon==800) { %>
                                                <img class="weatherIco" src="images/01d.png"
                                                    alt="Clear" />
                                                <% } else if (weatherIcon==801) { %>
                                                    <img class="weatherIco"
                                                        src="images/02d.png"
                                                        alt="Few Clouds" />
                                                    <% } else if (weatherIcon==802) { %>
                                                        <img class="weatherIco"
                                                            src="images/03d.png"
                                                            alt="Scattered Clouds" />
                                                        <% } else if (weatherIcon>= 803) { %>
                                                            <img class="weatherIco"
                                                                src="images/04d.png"
                                                                alt="Overcast" />
                                                            <% } %>
                                                                <!--  <%= conditions %> -->

                                                                <div class=weatherText>
                                                                    <%= temperature %>°F
                                                                </div>
            </div>


            <div id="currentTime" class="time">
                <script>
                    function clock() {
                        const date = new Date();
                        let hours = date.getHours();
                        let minutes = date.getMinutes();

                        // Check whether AM or PM 
                        //let newformat = hours >= 12 ? 'PM' : 'AM';

                        // Find current hour in AM-PM Format 
                        //hoursAP = hours % 12;

                        // To display "0" as "12" 
                        //hours = hours ? hours : 12;
                        hours = hours < 10 ? '0' + hours : hours;
                        minutes = minutes < 10 ? '0' + minutes : minutes;

                        // document.getElementById("currentTime").innerHTML = "<p class='day'>" + date.toDateString() + "</p>" + hours + ':' + minutes + ' ' + newformat;
                        document.getElementById("currentTime").innerHTML = "<p class='day'>" + date.toDateString() + "</p>" + hours + ':' + minutes;
                        setTimeout(clock, 1000);
                    }
                </script>
            </div>
            <div style="width:fit-content; margin: auto;">
                <% tides.forEach((tide,index)=> { %>
                    <li class="tidefont">
                        <%= tide.t %>
                            <% if (tide.type==="H" && tide.ap==="pm" ) { %>
                                <img class="tide" id="tide<%= index %>" src="images/HTide.png" alt="High Tide" />
                                <% } else if (tide.type==="H" && tide.ap==="am" ){ %>
                                    <img class="tide" id="tide<%= index %>" src="images/HTide.png" alt="High Tide" />
                                    <% } else if (tide.type==="L" && tide.ap==="am" ){ %>
                                        <img class="tide" id="tide<%= index %>" src="images/LTide.png" alt="Low Tide" />
                                        <% } else if (tide.type==="L" && tide.ap==="pm" ){ %>
                                            <img class="tide" id="tide<%= index %>" src="images/LTide.png"
                                                alt="Low Tide" />
                                            <% } %>
                    </li>
                    <% });%>
                        </h1>
            </div>
            <div id="setBgTheme">
                <script>
                    bgStyle = document.getElementById("swap");
                    console.log(swap);
                </script>
            </div>

            <%- include("partials/footer"); -%>


                <!--<img className="tide" src="../public/images/HTide.png" alt="High Tide" />
    <img className="tide" src="../public/images/LTide.png" alt="Low Tide" />-->