<%- include("partials/header"); -%>

    <body>
        <div class="App">
            <div>
                <div class="configData">

                    <div class="configFloat">
                        <h2 id="configTitle">Tide Clock Setup</h2>


                        <div class="locationForm">
                            <form class="formInputs" action="/" method="post">
                                <% if (theme=="/css/styledark.css" ){ %>
                                    <div class="chkBx">
                                        <div class="darkChkBx">
                                            <input type="radio" id="dark" name="bgTheme" value="/css/styledark.css"
                                                checked onClick="swapStylesheet('/css/styledark.css')">
                                            <label for="male">Dark Theme</label><br>
                                        </div>
                                        <div class="lightChkBx">
                                            <input type="radio" id="light" name="bgTheme" value="/css/stylelight.css"
                                                onClick="swapStylesheet('/css/stylelight.css')">
                                            <label for="female">Light Theme</label><br>
                                        </div>

                                        <% } else if (theme=="/css/stylelight.css" ) { %>

                                            <div class="darkChkBx">
                                                <input type="radio" id="dark" name="bgTheme" value="/css/styledark.css"
                                                    onClick="swapStylesheet('/css/styledark.css')">
                                                <label for="male">Dark Theme</label><br>
                                            </div>
                                            <div class="lightChkBx">
                                                <input type="radio" id="light" name="bgTheme"
                                                    value="/css/stylelight.css" checked
                                                    onClick="swapStylesheet('/css/stylelight.css')">
                                                <label for="female">Light Theme</label><br>
                                            </div>
                                    </div>
                                    <%}%>
                        </div>
                        <div class="locationInputs">
                            <div class="locationInput">
                                <label for="inputLocation" style="font-size: small">Location displayed</label>
                                <input required type="text" name="inputLocation" value="<%= location %>" />
                            </div>
                            <div class="zipInput">
                                <label for="inputZipcode" style="font-size: small">Zipcode for weather</label>
                                <input  minlength="5" maxlength="5" type="number" name="inputZipcode"
                                    value="<%= zipcode %>" />
                            </div>
                            <div class="stationInput">
                                <label for="inputStation" style="font-size: small">Copy station ID from below</label>
                                <input required type="number" name="inputStation" value="<%= station %>" />
                            </div>
                            <div class="inputButton">
                                <button type="submit" name="button">Submit</button>
                            </div>
                        </div>
                        </form>

                    </div>
                </div>
                <!--   <div class="themeIconsClass">
                    <img id="themeIcons" src="images/themeIconsHor.png" alt="theme icons">
                </div>-->
            </div>
            <div class="tideSelector">
                <iframe id="locationgetter" src="https://tidesandcurrents.noaa.gov/map/index.html?type=TidePredictions"
                    width="100%" height="560px">

                </iframe>
            </div>

            <script>
                function swapStylesheet(sheet) {
                    let swap = document.getElementById('swap')
                    swap.setAttribute('href', sheet);
                    if (swap.href == "http://tideclock.local:5000/css/stylelight.css") {
                        document.body.style.backgroundColor = "ghostwhite";
                    }
                    if (swap.href == "http://tideclock.local:5000/css/styledark.css") {
                        document.body.style.backgroundColor = "black";
                    }

                }

                /*var iframe = document.getElementById('locationgetter');
                  iframeWin = iframe.contentWindow || iframe;
                  iframeDoc = iframe.contentDocument || iframeWin.document;
                  $(iframeDoc).ready(function (event) {
                      console.log(iframe);
                      console.log(iframeWin);
                      console.log(iframeDoc);
                      var iframeContent = iframeDoc.querySelectorAll('.nodal-title');
                      console.log(iframeContent);
                  });
                  iframeDoc.write('\<script>window.parent.postMessage(, "http://tideclock.local:5000");\<\/script>');
                  window.addEventListener('message', receiveMessage, false);
                  function receiveMessage(evt) {
                      console.log(evt.data);
                  }*/

            </script>


            <%- include("partials/footer"); -%>