<%- include("partials/header"); -%>
<body>
    <div class="App">
    <script>

  /*       function darkness() {
                  darkTheme = document.getElementById('dark');
                  console.log(darkTheme, "darkness");
              };
      
              function lightness() {
                  lightTheme = document.getElementById('light');
                  console.log(lightTheme,"lightness");
              }; */

    </script>
    <div class="configData">
        <h1>Location Config Page</h1>
        <!-- <h2>Current Location</h2>
    <% // for (const [keys, values] of configuration) { %>
    <ul><%= // `${keys} ${values}`%></ul>
    <% //} %> 
    
    -->
    </div>


    <div class="locationForm">
        <form action="/" method="post">
            <input type="radio" id="dark" name="bgTheme" value="/css/styledark.css" onClick="swapStylesheet('/css/styledark.css')">
            <label for="male">Dark Theme</label><br>
            <input type="radio" id="light" name="bgTheme" value="/css/stylelight.css"  onClick="swapStylesheet('/css/stylelight.css')">
            <label for="female">Light Theme</label><br>

            <label for="inputLocation">Location Name</label>
            <input type="text" name="inputLocation" value="<%= location %>">
            <label for="inputStation">Station ID</label>
            <input type="text" name="inputStation" value="<%= station %>">
            <button type="submit" name="button">Submit</button>
        </form>
    </div>
    <div class="tideSelector">
        <iframe id="locationgetter" src="https://tidesandcurrents.noaa.gov/map/index.html?type=TidePredictions"
            width="100%" height="500">
            <script>
                /* setInterval(function () {
                    window.parent.postMessage('im in an iframe');
                }, 1000) */
            </script>
        </iframe>
        <script>
            /* window.addEventListener("message", (event) => {
                /* if (event.origin !== "http://example.org:8080")
                    return;
                console.log(event.data);
            }, false);   */
        </script>
    </div>
    <script>
        function swapStylesheet(sheet) {
            document.getElementById('swap').setAttribute('href', sheet);
        }

    </script>


    <%- include("partials/footer"); -%>